<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brozone - Gaming Center</title>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <main>
    <h1 class="visually-hidden">Brozone - Gaming Center</h1>

    <section class="hero">
      <div class="hero__carousel js-hero-carousel">
        <div class="hero__item">
          <img class="hero__image" src="/images/Hero-1.jpg" alt="Brozone 1" loading="eager">
        </div>
        <div class="hero__item">
          <img class="hero__image" src="/images/Hero-2.jpg" alt="Brozone 2" loading="lazy">
        </div>
        <div class="hero__item">
          <img class="hero__image" src="/images/Hero-3.jpg" alt="Brozone 3" loading="lazy">
        </div>
        <div class="hero__item">
          <img class="hero__image" src="/images/Hero-4.jpg" alt="Brozone 4" loading="lazy">
        </div>
      </div>
    </section>

    <section class="section-padding form-wrapper">
      <div class="container">
        <div class="row g-5 align-items-center">
          <div class="col-12 col-xl-5">
            <div class="logo">
              <img class="logo__image" src="/images/logo.png" alt="Bro Zone Logo">
            </div>
          </div>
          <div class="col-12 col-xl-7 order-first order-xl-last">
            <div class="form" id="form-survey">
              <h2 class="text-uppercase form__title">Đăng ký ngay để nhận <br>2 giờ chơi miễn phí</h2>
              <p class="mb-4 text-white-50 form__description">Mỗi người chơi được áp dụng 1 lần</p>
              <form class="form-survey js-form-survey" @submit.once.prevent="formSubmitHandler">
                <div class="row row-cols-1 row-cols-sm-2">
                  <div class="mb-3 col">
                    <label for="input-name" class="form-label">Họ và Tên</label>
                    <input type="text" class="form-control" id="input-name" name="name" required v-model="name">
                  </div>
                  <div class="mb-3 col">
                    <label for="input-account" class="form-label">Tên tài khoản sẽ lập tại Brozone</label>
                    <input type="text" class="form-control" id="input-account" name="account" required v-model="account">
                    <div class="form-text text-danger" v-if="duplicatedAccount && !submitSuccess" v-cloak>Tên tài khoản này đã được đăng ký.</div>
                  </div>
                  <div class="mb-3 col">
                    <label for="input-phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="input-phone" name="phone" required v-model="phone">
                    <div class="form-text text-danger" v-if="duplicatedPhone && !submitSuccess" v-cloak>Số điện thoại này đã được đăng ký.</div>
                  </div>
                  <div class="mb-3 col">
                    <label for="input-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="input-email" name="email" required v-model="email">
                    <div class="form-text text-danger" v-if="duplicatedEmail && !submitSuccess" v-cloak>Email này đã được đăng ký.</div>
                  </div>
                  <div class="mb-3 col">
                    <label for="input-date" class="form-label">Ngày dự kiến đến chơi</label>
                    <select class="form-select" id="input-date" name="play-date" required v-model="date">
                      <option disabled selected value=""> -- Chọn -- </option>
                      <option value="02/07">02/07</option>
                      <option value="03/07">03/07</option>
                      <option value="04/07">04/07</option>
                    </select>
                  </div>
                  <div class="mb-3 col">
                    <label for="input-time" class="form-label">Thời gian đến chơi</label>
                    <select class="form-select" id="input-time" aria-describedby="timeHelp" name="play-time" required v-model="time">
                      <option disabled selected value=""> -- Chọn -- </option>
                      <option value="sáng">Sáng</option>
                      <option value="chiều">Chiều</option>
                      <option value="tối">Tối</option>
                    </select>
                    <div id="timeHelp" class="form-text text-white-50">Thông tin này sẽ giúp chúng tôi phục vụ bạn tốt hơn.</div>
                  </div>
                </div>
                <template v-if="date && time && !submitSuccess" v-cloak>
                  <p v-if="avaiableSlots">
                    Còn <b>{{ avaiableSlots }}</b> máy trống.
                  </p>
                  <p class="text-danger" v-else>
                    Khung giờ này đã hết máy, quý khách vui lòng chọn khung giờ khác.
                  </p>
                </template>
                <div class="alert alert-success rounded-0 form__message-success js-form-message-success" role="alert" v-if="submitSuccess" v-cloak>
                  Quý khách đã đăng ký thành công. Khi đến vui lòng kích hoạt tài khoản tại quầy lễ tân. Hẹn gặp quý khách tại Brozone Cyber Game 12 Hoàng Ngọc Phách ❤️.
                </div>
                <button type="submit" class="btn btn-dark form__button" :disabled="!submitable"><span>Đăng ký ngay</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding game-gallery">
      <div class="container">
        <h2 class="text-uppercase game-gallery__title">Phục vụ nhiều tựa game</h2>
        <p class="mb-4 mb-lg-5 text-white-50 game-gallery__description">Cùng với cấu hình máy mạnh mẽ</p>
      </div>
      <div class="game__carousel js-game-carousel">
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-csgo.jpg" alt="Counter Strike Global Offensive" loading="lazy">
          </div>
          <p class="game__item-title">Counter Strike<br>Global Offensive</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-dota.jpg" alt="Dota 2" loading="lazy">
          </div>
          <p class="game__item-title">Dota 2</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-fifa.jpg" alt="FIFA Online 4" loading="lazy">
          </div>
          <p class="game__item-title">FIFA Online 4</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-lol.jpg" alt="League of Legends" loading="lazy">
          </div>
          <p class="game__item-title">League of Legends</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-pubg.jpg" alt="PlayerUnknown's Battlegrounds" loading="lazy">
          </div>
          <p class="game__item-title">PlayerUnknown's<br>Battlegrounds</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-valorant.jpg" alt="Valorant" loading="lazy">
          </div>
          <p class="game__item-title">Valorant</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-etc.jpg" alt="Nhiều tựa game khác" loading="lazy">
          </div>
          <p class="game__item-title">Nhiều tựa game khác</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-wot.jpg" alt="World of Tanks" loading="lazy">
          </div>
          <p class="game__item-title">World of Tanks</p>
        </div>
        <div class="game__item">
          <div class="game__image-wrapper">
            <img class="game__image" src="/images/game-gta.jpg" alt="Grand Theft Auto" loading="lazy">
          </div>
          <p class="game__item-title">Grand Theft Auto</p>
        </div>
      </div>
    </section>

    <section class="section-padding map">
      <div class="container">
        <h2 class="text-uppercase mb-4 mb-lg-5 map__title">Bản đồ</h2>
        <img class="map__image" src="/images/map.png" alt="Bản đồ" loading="lazy">
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row gy-2 justify-content-between">
          <div class="col-12 col-md-auto"><p class="footer__item">Địa chỉ: 12 Hoàng Ngọc Phách, Lê Chân, Hải Phòng</p></div>
          <div class="col-12 col-md-auto"><p class="footer__item">Hotline: <a href="tel:0704070215">0704070215</a> - <a href="tel:0838527886">0838527886</a></p></div>
          <div class="col-12 col-md-auto"><p class="footer__item">Facebook: <a href="https://www.facebook.com/BROZONECYBER">BROZONE CYBER GAME</a></p></div>
        </div>
      </div>
    </footer>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>
  <script defer src="scripts/script.js"></script>
</body>
</html>
