:root {
  --black: #000;
  --white: #fff;
  --purple: #0B0615;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-color: var(--purple);
  color: var(--white);
}

.header {
  position: fixed;
}

.header__logo {
  width: 200px;
}

.hero {
  min-height: 100vh;
  background-image: url('/images/room-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
